@primary-color: var(--ant-primary-color);
@primary-text-color: #303133;
@bg-color: #ffffff;
@border-color: #e4e7ed;
@info-text-color: #606266;
@inlay-padding: 15px;
@content-padding: 6px;
@entirety-interval: 6px;
